**
!package.json
!package-lock.json
!nest-cli.json
!tsconfig.json
!tsconfig.build.json
!src/
!src/**
!prisma/
!prisma/**
!public/
!public/**

**/*.spec.ts
**/*.test.ts
**/*.map
**/*.log
.env
.env.*
!.env.example
.git
.gitignore
.github
coverage
dist
node_modules
test
tests
.tmp
.temp
.vscode
.idea
.DS_Store
Thumbs.db
compose*.yaml
docker-compose*.yml
